<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.automation.resources.Listeners"></listener>
    </listeners>
    <test parallel="methods" verbose="2" preserve-order="true" name="/Users/sanj/IdeaProjects/selenium">
        <parameter name="email" value="christoph.ss@hotmail.com" />
        <parameter name="password" value="Pulsar#123" />
        <classes>
            <class name="org.automation.loginTest">
            </class>
        </classes>
    </test>
</suite>